body {
  background-image: url(/img/Tela.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

header {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

.title {
  font-weight: normal;
  font-size: 2rem;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  font-size: 2rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  display: grid;
  justify-content: center;
  align-items: baseline;
  height: auto;
}
.conteudo {
  position: absolute;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.575);
}
.container-personagem {
  position: relative;
  height: 100px;
  width: 100px;
}
.link-image {
  position: absolute;
  display: block;
  height: 16%;
  width: 16%;
  border-radius: 39%;
  z-index: 1;
}
.image {
  border-radius: 50%;
}

/* CARD */
.container_card {
  display: flex;
  flex-wrap: wrap;
  max-height: 200px;
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 32px;
}

.card {
  display: grid;
  width: 152px;
  height: 152px;
  border-radius: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: end;
  justify-items: center;
  padding-bottom: 24px;
}

.nome_character {
  font-size: 1.25rem;
  max-width: 112px;
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0;
}

.character {
  border-radius: 100%;
  z-index: 0;
  max-width: 124px;
  height: 124px;
}

h2 {
  /* justify-content: center;
  align-items: center; */
  padding: 20px;
  font-weight: normal;
  font-size: 2rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  /* display: flex; */
}

p {
  color: #fff;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: baseline;
}
a {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.all-characters {
  display: flex;
  gap: 4px;

}
footer {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}
/* .carregar_todo_header{
    display: flex;
} */
