body {
  height: 100vh;
  background-image: url(/img/Tela.png);
  display: flex;
  flex-direction: column;
  background-size: cover;
}

header {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

.title {
  font-weight: normal;
  font-size: 2rem;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  font-size: 2rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
main{
  display: grid;
  justify-content: center;
  align-items: baseline;
  height: auto;

}
.conteudo{
  position: absolute;
  padding: 20px;
  background-color: #000;

}
.container-personagem{
  position: relative;
  height: 100px;
  width: 100px;
}
.link-image{
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}
.image{
  border-radius: 50%;
  
}
h2{
  /* justify-content: center;
  align-items: center; */
  padding: 20px;
  font-weight: normal;
  font-size: 2rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  /* display: flex; */ 
}
p{
  color: #fff;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  display: flex;
  align-items: baseline;
}
a{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
footer{
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}
/* .carregar_todo_header{
    display: flex;
} */
